### these strings look the same, but have different length:

In [1]:
city = 'Köln'
query = 'Köln'

In [2]:
len(city)

4

In [3]:
len(query)

5

In [4]:
city == query

False

In [5]:
city[1]

'ö'

In [6]:
query[1]

'o'

In [7]:
for p in city:
    print(p)

K
ö
l
n

In [8]:
for p in query:
    print(p)

K
o
̈
l
n

### solution: normalization

In [9]:
import unicodedata

In [10]:
query2 = unicodedata.normalize('NFKC', query) # https://docs.python.org/3/library/unicodedata.html#unicodedata.normalize

In [11]:
print(len(city))
print(len(query2))

4
4

In [12]:
city == query2

True